# -------------------------------------------------------------
# CUSTOM BUILD PROPERTIES
# -------------------------------------------------------------
#
# You can set these properties either per project or globally 
# in a build.properties file in your user home dir.

# Set the directory for the required libraries
# lib.dir = ${basedir}/../Repository/lib


# Set the path to the Java runtime used to compile this project
# build.boot.classpath=C:/Programme/Java/Jdk1.7.0_76/jre/lib/rt.jar